.button-default {
	position: relative;
	z-index: 200;
	// display: block;
	// text-align: center;

	&.sub {
		.wrap {
			filter: grayscale(1);
			color: #999999
		}
	}

	&.secondary {
		.wrap {
			padding: 0 70px 2px 30px;

			&::before {
				background: url('../../assets/images/1.png') center no-repeat;
				background-size: 100%;
				display: block;
				content: "";
				aspect-ratio: 1;
				height: 100%;
				width: auto;
				right: 0;
				top: 0px;
				position: absolute;
			}


		}
	}


	.wrap {
		text-decoration: none;
		color: var(--primary);
		text-align: center;
		display: inline-block;
		transition: var(--transition);
		font-size: 1.375rem;
		border-radius: 50px;
		height: 50px;
		padding: 0 30px;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		min-width: 180px;
		font-weight: 600;
		text-transform: uppercase;
		background: linear-gradient(to right, #FFD780, #FFF4D1, #FFD780);
		border: 1px solid white;
		box-shadow: inset 0 2px 2px rgba(255, 255, 255, .5), 0 4px 4px rgba(0, 0, 0, .3);
	}
}