.custom-pagination {
	display: flex;
	list-style-type: none;
	padding: unset;
	justify-content: center;
	align-items: center;

	li {
		color: var(--white);
		width: 3vw;
		height: 3vw;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		border: 1px solid transparent;

		&.previous {
			a {
				// background: url("../images/next.png") center no-repeat;
				background-size: 100% 100%;
				transform: rotate(180deg);
			}
		}

		&.previous,
		&.next {
			border: none;

			a {
				width: 3vw;
				height: 3vw;

				// background: url("../images/next.png") center no-repeat;
				background-size: 100% 100%;
				overflow: hidden;
				text-indent: 999px;
			}

			&.disabled {
				opacity: 0.5;
			}
		}

		&.pagination-item-active {
			border-radius: 50%;
			font-size: 16px;
			border: 1px solid yellow;
            background-color: yellow;
		}
	}
}
