.ReactModalPortal {
	.ReactModal__Content--after-open {
		.modal {
			transform: translateY(0px) !important;
			opacity: 1 !important;
		}
	}

	.ReactModal__Overlay {
		z-index: 2000;
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: rgba(0, 0, 0, 0.7) !important;
		background-size: 100% !important;

		.ReactModal__Content {
			inset: 0 !important;
			width: 100%;
			max-width: 400px;
			padding: 0px 20px !important;
			margin: 0px auto;
			border: NONE !important;
			display: flex;
			align-items: flex-start;
			background-color: transparent !important;

			.modal {
				width: 100%;
				position: relative;
				transform: translateY(20px);
				transition: all ease 0.5s 0.1s;
				opacity: 0;
				background-color: white;
				border-radius: 15px;

				.md-icon {
					width: 20px;
					position: absolute;
					top: -20px;
					right: -20px;
					z-index: 78;
				}

				.md-content {
					padding: 24px;
					border-radius: 15px;
					box-shadow: inset 5px 4px 5px 0 rgba(255, 255, 255, 0.7);

					h4 {
						font-weight: bold;
						font-size: 1rem;
						text-transform: uppercase;
						text-align: center;
						margin: 0 0 10px 0;
					}
					h1 {
						font-weight: bold;
						font-size: 1rem;
						text-transform: uppercase;
						text-align: center;
						margin: 0 0 10px 0;
					}
					p {
						font-size: 0.875em;
						color: black;
						font-weight: 300;
						line-height: 1.4;
						text-align: center;
						margin: 0 0 12px 0;

						&:last-child {
							margin: 0;
						}
					}

					strong {
						font-weight: bold;
					}
				}
			}
		}
	}
}

@keyframes rotate {
	0%,
	100% {
		transform: translate(-50%, -20%) rotate(0);
	}

	50% {
		transform: translate(-50%, -20%) rotate(720deg);
	}
}

@keyframes zoominout {
	0%,
	100% {
		transform: scale(0.9) rotate(0);
	}

	50% {
		transform: scale(1.1) rotate(15deg);
	}
}
