.m-container {
	// background: url("@/assets/logo.png");
	background: url("@/assets/bg.png") center center / cover no-repeat;
	background-clip: unset;
	background-attachment: fixed;
	background-position: bottom;
	background-blend-mode: lighten;
}
.dark {
	.m-container{
		background-image: none;
		background-color: rgb(3, 3, 40);
		overflow-x: hidden;
	}
}
