.box-button {
	position: absolute; // 🔥 BẮT BUỘC
	top: 35%;
	left: 20%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	padding: 1rem 1.5rem;
	border-radius: 50px;
	background-color: rgba(245, 158, 11, 0.9);
	box-shadow: 0 4px 6px rgba(230, 140, 140, 0.3), 0 8px 20px rgba(245, 158, 11, 0.4);
}

.draw-date {
	font-size: 2.5rem;
	color: #fcd34d;
	font-weight: bold;
}

.blink-button {
	padding: 0.5rem 1.2rem;
	border-radius: 999px;
	font-weight: bold;
	color: white;
	animation: blink 1s linear infinite;

	&.green {
		background: green;
	}
	&.red {
		background: red;
	}
	&.purple {
		background: purple;
	}

	&:hover {
		background-color: #ffcc4c;
		transform: translateY(-2px);
		transition: all 0.3s ease;
	}
}

/* MOBILE */
@media (max-width: 640px) {
	.box-button {
		top: 50%;
		left: 50%;
		// bottom: 20px; // 👈 nổi dưới màn hình
	}
}
